<span class="ql-picker-options" tabindex="1" id="ql-picker-options-2">
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#e60000"
        style="background-color: rgb(230, 0, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#ff9900"
        style="background-color: rgb(255, 153, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#ffff00"
        style="background-color: rgb(255, 255, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#008a00"
        style="background-color: rgb(0, 138, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#0066cc"
        style="background-color: rgb(0, 102, 204);"></span>
    <span tabindex="0" role="button" class="ql-picker-item ql-primary" data-value="#9933ff"
        style="background-color: rgb(153, 51, 255);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ffffff"
        style="background-color: rgb(255, 255, 255);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#facccc"
        style="background-color: rgb(250, 204, 204);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ffebcc"
        style="background-color: rgb(255, 235, 204);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ffffcc"
        style="background-color: rgb(255, 255, 204);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#cce8cc"
        style="background-color: rgb(204, 232, 204);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#cce0f5"
        style="background-color: rgb(204, 224, 245);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ebd6ff"
        style="background-color: rgb(235, 214, 255);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#bbbbbb"
        style="background-color: rgb(187, 187, 187);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#f06666"
        style="background-color: rgb(240, 102, 102);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ffc266"
        style="background-color: rgb(255, 194, 102);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#ffff66"
        style="background-color: rgb(255, 255, 102);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#66b966"
        style="background-color: rgb(102, 185, 102);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#66a3e0"
        style="background-color: rgb(102, 163, 224);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#c285ff"
        style="background-color: rgb(194, 133, 255);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#888888"
        style="background-color: rgb(136, 136, 136);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#a10000"
        style="background-color: rgb(161, 0, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#b26b00"
        style="background-color: rgb(178, 107, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#b2b200"
        style="background-color: rgb(178, 178, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#006100"
        style="background-color: rgb(0, 97, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#0047b2"
        style="background-color: rgb(0, 71, 178);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#6b24b2"
        style="background-color: rgb(107, 36, 178);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#444444"
        style="background-color: rgb(68, 68, 68);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#5c0000"
        style="background-color: rgb(92, 0, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#663d00"
        style="background-color: rgb(102, 61, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#666600"
        style="background-color: rgb(102, 102, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#003700"
        style="background-color: rgb(0, 55, 0);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#002966"
        style="background-color: rgb(0, 41, 102);"></span>
    <span tabindex="0" role="button" class="ql-picker-item" data-value="#3d1466"
        style="background-color: rgb(61, 20, 102);"></span>

</span>