<!-- ql-expanded -->
<span class="ql-background ql-picker ql-color-picker" [class.ql-expanded]="expanded" (click)="openColors()">
    <span class="ql-picker-label" tabindex="0" role="button" aria-expanded="false"
        aria-controls="ql-picker-options-3">
        <ng-content select=".icon"></ng-content>
    </span>
    <span class="ql-picker-options" aria-hidden="true" tabindex="-1"
        id="ql-picker-options-3">
     
        <span tabindex="0" 
        role="button" 
        class="ql-picker-item ql-primary" 
        *ngFor="let color of colors" [attr.data-value]="color"
        [style.background-color]="color"
        ></span>    
</span>
<select class="ql-background" style="display: none;">
    <option *ngFor="let color of colors" [value]="color"></option>
</select>