.ql-snow .ql-editor {
    background: #fff;
    min-height: 200px;
}



.ql-container {
    min-height: 400px;
}


table {
    width: 50%;
}

table.fixed {
    table-layout: fixed;
}
table.fixed td {
    overflow: hidden;
}