

{{ model }}


<div class="quill " style="width: 100%;">
  <div class="ql-toolbar ql-snow">
    <span class="ql-formats">
      <button type="button" class="ql-header" value="1" (click)="BoldText('bold')">
        <i class="fa-solid fa-bold"></i>
      </button>
    </span>
  </div>
</div>


<div  class="ql-container ql-snow" style="height: 500px;">
  <div id="myEditor" class="ql-editor ql-blank" data-gramm="false"  (mouseup)="onMouseUp()" contenteditable="true" spellcheck="true">
  </div>
</div>